.freeship-ton-quc5,
.nhp-m-lmcar245 {
  margin: 0;
}
.nhp-m-lmcar24-container11 {
  width: 100%;
}
.nhp-m-lmcar24-container10 {
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.input-collector1,
.logic-gate {
  align-self: stretch;
  flex-shrink: 0;
}
.input-collector1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.logic-gate {
  height: 150px;
  position: relative;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  debug_commit: f6aba90;
}
.feature-tree,
.input-collector-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input-collector-parent {
  height: 80px;
  flex: 1;
  background-color: var(--color-lightcoral);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg) 0;
  gap: var(--gap-lg);
}
.feature-tree {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 13.8px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.vector-icon24 {
  height: 24px;
  width: 24px;
  position: relative;
}
.danh-sch-ca5 {
  flex: 1;
  position: relative;
}
.vector-parent8 {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.frame-wrapper106 {
  width: 268px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.lancme5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
}
.lancme-wrapper2 {
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.vector-icon25 {
  width: 24px;
  height: 24px;
  position: relative;
}
.vector-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.vector-icon26,
.vector-icon27 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.frame-parent207 {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-parent206 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.paris-wrapper2,
.paris5 {
  display: flex;
  justify-content: center;
}
.paris5 {
  width: 39px;
  position: relative;
  align-items: center;
  min-width: 39px;
}
.paris-wrapper2 {
  width: 1133px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -1px;
  font-size: var(--font-size-lg);
}
.frame-parent205,
.trang-ng-ki-inner {
  width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.trang-ng-ki-inner {
  width: 1356px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-smi);
  box-sizing: border-box;
}
.chng-trnh-thnh5,
.tm-kim5 {
  width: 182px;
  position: relative;
  display: none;
  z-index: 2;
}
.tm-kim5 {
  width: 65px;
  min-width: 65px;
  z-index: 3;
}
.trang-ng-ki-child {
  width: calc(100% + 1px);
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 298px;
  right: -1px;
  left: 0;
  border-top: 1px solid var(--color-gray-1800);
  box-sizing: border-box;
}
.image-1-icon,
.screenshot-2024-04-10-083823-1 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
  z-index: 1;
}
.screenshot-2024-04-10-083823-1 {
  width: 100%;
  height: 487px;
  top: 298px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.image-1-icon {
  width: 340px;
  height: 284px;
  top: 2051px;
  left: 102px;
}
.gi-mua {
  position: absolute;
  top: 627px;
  left: 623px;
  font-size: var(--font-size-xl);
}
.best-seller10,
.dng-da25,
.nc-hoa25,
.trang-im25 {
  position: absolute;
  top: 31px;
  left: 260px;
  display: inline-block;
  min-width: 95px;
}
.dng-da25,
.nc-hoa25,
.trang-im25 {
  left: 403px;
  min-width: 72px;
}
.nc-hoa25,
.trang-im25 {
  left: 541px;
  min-width: 70px;
}
.trang-im25 {
  left: 677px;
  min-width: 83px;
}
.component-147-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.st-qu-tng {
  width: 149px;
  position: relative;
  display: inline-block;
}
.component-147-parent {
  height: 261px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xl);
}
.frame-child26 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dng-da26 {
  width: 82px;
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.dng-da-wrapper8,
.rectangle-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dng-da-wrapper8 {
  flex-direction: row;
  padding: 0 var(--padding-25xl);
}
.rectangle-parent4 {
  height: 261px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.frame-child27 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nc-hoa26 {
  width: 81px;
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.nc-hoa-wrapper7,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nc-hoa-wrapper7 {
  flex-direction: row;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.rectangle-parent5 {
  height: 264px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.frame-child28 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trang-im26 {
  width: 94px;
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.trang-im-wrapper7 {
  flex-direction: row;
  padding: 0 var(--padding-19xl);
}
.frame-parent209,
.rectangle-parent6,
.trang-im-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent6 {
  height: 267px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.frame-parent209 {
  position: absolute;
  top: 662px;
  left: 0;
  background-color: var(--color-lavenderblush);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-97xl);
  box-sizing: border-box;
  gap: 145px;
  max-width: 100%;
}
.trang-ch5 {
  position: absolute;
  top: 31px;
  left: 137px;
  display: inline-block;
  min-width: 87px;
  cursor: pointer;
}
.vector-icon28 {
  height: 17.5px;
  width: 13.1px;
  position: absolute;
  margin: 0 !important;
  top: 30px;
  right: 273.7px;
}
.vector-icon29 {
  height: 14px;
  width: 14px;
  position: relative;
  cursor: pointer;
}
.vector-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.ng-k {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-tahoma);
  color: var(--color-crimson-100);
  text-align: left;
  display: inline-block;
  min-width: 83px;
}
.frame-parent210,
.frame-wrapper107 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent210 {
  width: 330px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.frame-wrapper107 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
}
.email5 {
  width: 38px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 17px;
  position: relative;
  color: var(--color-gray-1400);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.email-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-3xl) var(--padding-2xl);
}
.h-tn {
  width: 42px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 17px;
  position: relative;
  color: var(--color-gray-1500);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.frame-parent211,
.frame-wrapper108,
.h-tn-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.h-tn-wrapper {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-9xl) var(--padding-2xl);
}
.frame-parent211,
.frame-wrapper108 {
  max-width: 100%;
}
.frame-parent211 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-36xl);
}
.frame-wrapper108 {
  width: 420px;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.s-in-thoi {
  width: 88px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.frame-wrapper109,
.s-in-thoi-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.s-in-thoi-wrapper {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-8xl);
}
.frame-wrapper109 {
  width: 420px;
  padding: 0 var(--padding-3xs);
}
.mt-khu {
  width: 62px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.frame-wrapper110,
.mt-khu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.mt-khu-wrapper {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  padding: var(--padding-2xl) var(--padding-6xl);
}
.frame-wrapper110 {
  width: 420px;
  padding: 0 var(--padding-3xs);
}
.lu-mt-khu {
  width: 92px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.frame-wrapper111,
.lu-mt-khu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.lu-mt-khu-wrapper {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  padding: var(--padding-2xl);
}
.frame-wrapper111 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-3xs);
}
.component-149-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
}
.component-149 {
  height: 24px;
  width: 24px;
  position: relative;
}
.ti-ng {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: left;
}
.ti-ng-cc-iu-khon-trn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.component-149-parent,
.frame-wrapper112 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-149-parent {
  gap: var(--gap-sm);
}
.frame-wrapper112 {
  padding: 0 var(--padding-smi);
}
.component-150-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: rgba(228, 21, 21, 0.72);
}
.component-150 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ng-k1 {
  position: absolute;
  top: 13px;
  left: 66px;
  font-size: var(--font-size-xl);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 83px;
  z-index: 1;
}
.component-150-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 50px;
  flex: 1;
  position: relative;
}
.frame-wrapper113 {
  width: 349px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
}
.vector-icon30 {
  height: 23.5px;
  width: 24px;
  position: relative;
}
.facebook {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 63px;
}
.component-151,
.facebook-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.component-151 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1600);
  padding: var(--padding-mini-7) var(--padding-6xl) var(--padding-2xs-8);
  background-color: transparent;
  flex: 0.871;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-lgi);
  min-width: 104px;
}
.vector-icon31 {
  height: 23.5px;
  width: 24px;
  position: relative;
}
.google {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.component-151-parent,
.component-152,
.google-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.google-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.component-151-parent,
.component-152 {
  flex-direction: row;
}
.component-152 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1600);
  padding: var(--padding-sm-7) var(--padding-mid) var(--padding-xs-8);
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  gap: var(--gap-8xl);
  min-width: 104px;
}
.component-151-parent {
  align-self: stretch;
  gap: var(--gap-32xl);
}
.frame-parent213 {
  width: 371px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.frame-parent212 {
  width: 410px;
  flex-direction: column;
  gap: 30.5px;
}
.frame-form,
.frame-parent212,
.vector-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-form {
  margin: 0;
  flex: 1;
  background-color: var(--color-mistyrose-100);
  border: 2px solid rgba(0, 0, 0, 0.53);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-23xl) var(--padding-60xl)
    var(--padding-69xl);
  gap: var(--gap-52xl);
  z-index: 2;
}
.vector-parent9 {
  position: absolute;
  top: 0;
  left: 782px;
  width: 600px;
  flex-direction: row;
}
.gi-mua-sm-parent {
  align-self: stretch;
  height: 1054px;
  position: relative;
  max-width: 100%;
}
.sn-phm-bn {
  width: 194px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent208,
.sn-phm-bn-chy-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sn-phm-bn-chy-wrapper {
  width: 1420px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-xl);
}
.frame-parent208 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-22xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.frame-child29,
.frame-child30 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child29 {
  align-self: stretch;
  max-height: 100%;
}
.frame-child30 {
  height: 300px;
}
.rectangle-parent7,
.rectangle-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-wrapper6 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.rectangle-parent7 {
  margin-left: -702px;
  height: 793px;
  width: 235px;
  flex-direction: column;
  gap: var(--gap-174xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.component-13-icon,
.group-icon330 {
  position: absolute;
  margin: 0 !important;
}
.group-icon330 {
  height: 17.4px;
  width: 20px;
  bottom: 163.6px;
  left: 491px;
  z-index: 1;
}
.component-13-icon {
  height: 220px;
  width: 170px;
  top: 82px;
  left: 156px;
  object-fit: cover;
}
.component-47-icon1 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.kem-dng-da3 {
  width: 165px;
  position: relative;
  display: inline-block;
}
.group-icon331,
.group-icon332,
.group-icon333,
.group-icon334,
.group-icon335 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.group-parent68 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.div73 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper48 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl);
}
.frame-parent216 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base-6);
}
.frame-parent216,
.frame-wrapper116,
.kem-dng-da-absolue-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper116 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  font-size: var(--font-size-lg);
}
.kem-dng-da-absolue-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-wrapper115 {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.thm-vo-gi66 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-8-wrapper3,
.component-818 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-818 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mid) var(--padding-6xs)
    var(--padding-14xl);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.component-818:hover,
.component-819:hover,
.component-820:hover,
.component-821:hover {
  background-color: var(--color-dimgray-100);
}
.component-8-wrapper3 {
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
}
.component-47-parent {
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.component-31-icon2 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.khe-sau-72,
.serum-phc-hi2 {
  margin: 0;
}
.serum-phc-hi-container2 {
  align-self: stretch;
  position: relative;
}
.group-icon336 {
  height: 17.4px;
  width: 20px;
  position: relative;
}
.component-31-icon3,
.group-icon337 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-31-icon3 {
  height: 916.67%;
  width: 708.33%;
  top: -1370.83%;
  right: -658.33%;
  bottom: 554.17%;
  left: 50%;
  object-fit: cover;
  z-index: 1;
}
.star-border-purple500 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.star-border-purple500-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs-4);
}
.group-parent69 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.group-icon338,
.group-icon339,
.group-icon340 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-parent218,
.group-parent70,
.serum-phc-hi-da-tr-khe-sau-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-parent218,
.serum-phc-hi-da-tr-khe-sau-container {
  align-items: flex-end;
  gap: var(--gap-9xl);
}
.serum-phc-hi-da-tr-khe-sau-container {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-smi);
}
.div74 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-25xl) 0 var(--padding-28xl);
  font-size: var(--font-size-lg);
}
.frame-parent217,
.frame-wrapper117 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent217 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base-6);
}
.frame-wrapper117 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-14xl);
}
.thm-vo-gi67 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-31-parent,
.component-8-wrapper4,
.component-819 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-819 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  white-space: nowrap;
}
.component-31-parent,
.component-8-wrapper4 {
  padding: 0 0 0 var(--padding-6xs);
}
.component-31-parent {
  height: 420px;
  width: 247px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.component-34-icon2 {
  height: 220px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.component-34-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) var(--padding-3xs) var(--padding-6xl);
}
.nc-hoa-hng3 {
  align-self: stretch;
  position: relative;
}
.group-icon341,
.group-icon342,
.group-icon343,
.group-icon344,
.group-icon345 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-wrapper119,
.group-parent71 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-parent71 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-wrapper119 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
}
.div75 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper50 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-19xl);
  font-size: var(--font-size-lg);
}
.nc-hoa-hng-cn-bng-m-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl-3);
}
.frame-wrapper118 {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.thm-vo-gi68 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-820,
.frame-parent219 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-820 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.frame-parent219 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.component-32-icon2 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.bng-phn-mt2 {
  width: 162px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bng-phn-mt-5-mu-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-4xs);
}
.group-icon346,
.group-icon347,
.group-icon348,
.group-icon349,
.group-icon350 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-wrapper120,
.group-parent72 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent72 {
  gap: var(--gap-mid);
}
.frame-wrapper120 {
  padding: 0 var(--padding-2xs);
}
.div76 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper51 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-46xl);
}
.thm-vo-gi69 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-821,
.frame-parent220 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-821 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.frame-parent220 {
  flex-direction: column;
  gap: var(--gap-4xl-3);
  font-size: var(--font-size-lg);
}
.component-32-parent,
.group-parent67 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.component-32-parent {
  height: 442px;
  width: 220px;
  flex-direction: column;
  gap: var(--gap-18xl);
}
.group-parent67 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-52xl) var(--padding-103xl) var(--padding-50xl);
  position: relative;
  gap: var(--gap-63xl);
}
.ng-k-wrapper,
.ng-k2 {
  flex-shrink: 0;
  display: flex;
}
.ng-k2 {
  height: 24px;
  width: 83px;
  position: relative;
  align-items: center;
}
.ng-k-wrapper {
  height: 279px;
  width: 241px;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-259xl) 1394px;
  box-sizing: border-box;
  min-width: 241px;
}
.c-quyn-thnh,
.lu-mt,
.m-welcome-gim {
  margin: 0;
}
.c-quyn-thnh-container,
.ng-k-thnh {
  position: relative;
  display: flex;
  align-items: center;
}
.c-quyn-thnh-container {
  align-self: stretch;
  height: 57px;
}
.ng-k-thnh {
  width: 183px;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  justify-content: center;
}
.component-4,
.component-4-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.component-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-76xl);
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-11xl);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.component-4:hover {
  background-color: var(--color-darkslategray-100);
}
.component-4-wrapper {
  width: 518px;
  justify-content: flex-end;
  padding: 0 var(--padding-40xl);
}
.c-quyn-thnh-vin-m-welcome-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.frame-wrapper122 {
  width: 655px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl);
  box-sizing: border-box;
  min-width: 655px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-parent221,
.frame-wrapper121 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent221 {
  width: 1000px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper121 {
  width: 1340px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-parent214,
.frame-parent215,
.frame-wrapper114 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent215 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-74xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent214,
.frame-wrapper114 {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper114 {
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.frame-parent214 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-42xl);
  gap: var(--gap-448xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.gi-chu {
  width: 369px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gi-chu-trnh-dng-da-t-la-wrapper {
  width: 1155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.screenshot-2024-04-10-110752-1 {
  width: 1155px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.decision-tree-root,
.khm-ph-cc {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.decision-tree-root {
  margin-left: -519px;
  width: 1439px;
  background-color: var(--color-pink);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-27xl) var(--padding-xl) var(--padding-mini);
  gap: var(--gap-33xl);
  max-width: 156%;
  flex-shrink: 0;
}
.khm-ph-cc {
  width: 328px;
  position: relative;
  font-size: var(--font-size-xl);
  justify-content: center;
  max-width: 100%;
  padding-right: var(--padding-xl);
}
.frame-child31,
.input-filter1 {
  align-self: stretch;
  max-width: 100%;
}
.input-filter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-491xl);
  box-sizing: border-box;
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.frame-child31 {
  flex: 1;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.blank-line2,
.e-skin-expert,
.tri-nghim-ngay {
  margin: 0;
}
.e-skin-expert-tri-container {
  flex: 1;
  position: relative;
  z-index: 1;
}
.e-skin-expert-tri-nghim-ngay-wrapper {
  width: 218px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.tm-hiu-thm5 {
  width: 116px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 116px;
}
.component-5,
.error-handler1,
.rectangle-parent8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-37xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.component-5:hover,
.component-61:hover,
.component-6:hover,
.component-7:hover {
  background-color: var(--color-dimgray-300);
}
.error-handler1,
.rectangle-parent8 {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.rectangle-parent8 {
  height: 506px;
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.frame-child32 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.blank-line3,
.nhn-t-vn,
.t-vn-vi {
  margin: 0;
}
.t-vn-vi-container {
  position: relative;
  z-index: 1;
}
.rectangle-parent9,
.t-vn-vi-chuyn-gia-nhn-t-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.t-vn-vi-chuyn-gia-nhn-t-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-7xs);
}
.rectangle-parent9 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.cht-ngay {
  width: 85px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.component-6,
.random-number-generator {
  display: flex;
  justify-content: flex-start;
}
.component-6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-53xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.random-number-generator {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-34xl);
}
.frame-child33 {
  width: 232px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.blank-line4,
.gii-m-ln,
.khm-ph-ngay {
  margin: 0;
}
.gii-m-ln-container {
  flex: 1;
  position: relative;
  z-index: 1;
}
.gii-m-ln-da-khm-ph-ngay-m-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-mini) 0;
}
.tm-ca-hng {
  width: 111px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 111px;
}
.component-7,
.rectangle-parent10 {
  display: flex;
  justify-content: flex-start;
}
.component-7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-40xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.rectangle-parent10 {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lg);
}
.frame-child34 {
  width: 232px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.blank-line5,
.chm-sc-khch,
.tr-chuyn-trc {
  margin: 0;
}
.chm-sc-khch-container {
  flex: 1;
  position: relative;
  z-index: 1;
}
.chm-sc-khch-hng-tr-chuyn-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) var(--padding-17xl) 0;
}
.cht-ngay1 {
  width: 85px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.component-61,
.rectangle-parent11 {
  display: flex;
  justify-content: flex-start;
}
.component-61 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-53xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.rectangle-parent11 {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-mid);
}
.frame-parent222,
.trang-ng-ki-inner1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent222 {
  flex: 1;
  background-color: var(--color-floralwhite);
  overflow: hidden;
  display: grid;
  padding: var(--padding-58xl) var(--padding-102xl) var(--padding-48xl);
  gap: var(--gap-42xl);
  grid-template-columns: repeat(4, minmax(181px, 1fr));
}
.trang-ng-ki-inner1 {
  align-self: stretch;
  display: flex;
  padding: 0 0 var(--padding-10xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.screenshot-2024-04-10-101514-15 {
  height: 39px;
  width: 43px;
  position: relative;
  object-fit: cover;
}
.bn-chy-nht5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 112px;
}
.bn-chy-nht-wrapper3 {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.component-1141 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  background-color: var(--color-white);
  flex: 0.9072;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 130px;
}
.screenshot-2024-04-10-101523-15 {
  height: 28px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.dng-da27 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 77px;
}
.component-1151,
.dng-da-wrapper9 {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.component-1151 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-base) var(--padding-lg);
  background-color: var(--color-white);
  width: 158px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-mid);
}
.screenshot-2024-04-10-101549-15 {
  height: 49px;
  width: 42px;
  position: relative;
  object-fit: cover;
}
.trang-im27 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 88px;
}
.trang-im-wrapper8 {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.component-118,
.component-118-wrapper {
  display: flex;
  justify-content: flex-start;
}
.component-118 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-8xs) var(--padding-sm) var(--padding-7xs);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
}
.component-118-wrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
}
.screenshot-2024-04-10-101556-15 {
  height: 47px;
  width: 47px;
  position: relative;
  object-fit: cover;
}
.nc-hoa27 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 76px;
}
.component-117,
.nc-hoa-wrapper8 {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.component-117 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-6xs);
  background-color: var(--color-white);
  width: 164px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.component-114-parent,
.trang-ng-ki-inner2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.component-114-parent {
  width: 753px;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-smi);
}
.trang-ng-ki-inner2 {
  width: 1399px;
  padding: 0 var(--padding-xl) var(--padding-10xl);
}
.screenshot-2024-04-10-102134-15 {
  height: 145px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.screenshot-2024-04-10-102134-1-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 29.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.dng-da29 {
  color: inherit;
}
.dng-da28 {
  margin-bottom: 0;
}
.theo-danh-mc5 {
  color: inherit;
}
.theo-danh-mc-sn-phm5 {
  margin-bottom: 0;
}
.theo-nhu-cu11 {
  color: inherit;
}
.theo-nhu-cu10 {
  margin-bottom: 0;
}
.theo-loi-da11 {
  color: inherit;
}
.theo-loi-da10 {
  margin-bottom: 0;
}
.theo-dng-sn5 {
  color: inherit;
}
.dng-da-theo-danh-mc-sn-ph5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.dng-da-theo-container5 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  min-width: 149px;
}
.tm-hiu-thm6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nc-hoa29 {
  color: inherit;
}
.nc-hoa28 {
  margin-bottom: 0;
}
.la-vie-est6 {
  color: inherit;
}
.la-vie-est-belle5 {
  margin-bottom: 0;
}
.miracle11 {
  color: inherit;
}
.miracle10 {
  margin-bottom: 0;
}
.idle11 {
  color: inherit;
}
.idle10 {
  margin-bottom: 0;
}
.trsor5 {
  color: inherit;
}
.nc-hoa-la-vie-est-belle-mira5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.nc-hoa-la-container5 {
  width: 180px;
  position: absolute;
  margin: 0 !important;
  top: -67px;
  right: -150px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 1;
}
.tm-hiu-thm-parent3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-wrapper124 {
  height: 23px;
  width: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: transparent;
}
.dng-da-theo-danh-mc-sn-ph-group,
.frame-wrapper123 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.dng-da-theo-danh-mc-sn-ph-group {
  width: 368px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.frame-wrapper123 {
  width: 464px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.trang-im29 {
  color: inherit;
}
.trang-im28 {
  margin-bottom: 0;
}
.dnh-cho-mt21 {
  color: inherit;
}
.dnh-cho-mt20 {
  margin-bottom: 0;
}
.dnh-cho-mt23 {
  color: inherit;
}
.dnh-cho-mt22 {
  margin-bottom: 0;
}
.dnh-cho-mi5 {
  color: inherit;
}
.trang-im-dnh-cho-mt-dnh-c5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.trang-im-dnh-container5 {
  width: 180px;
  position: relative;
  text-decoration: underline;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.ng-k-thng5 {
  flex: 1;
  position: relative;
}
.ng-k-thng-tin-wrapper3 {
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.email6 {
  width: 36px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-1900);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.email-wrapper2,
.frame-parent225 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-wrapper2 {
  align-self: stretch;
  border: 1px solid var(--color-gray-2000);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-smi);
}
.frame-parent225 {
  width: 300px;
  flex-direction: column;
  gap: var(--gap-xl);
}
.gi5 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.component-96 {
  cursor: pointer;
  border: 1px solid var(--color-gray-2000);
  padding: var(--padding-sm) var(--padding-smi) var(--padding-smi);
  background-color: var(--color-gray-100);
  width: 62px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-96:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-darkslategray-400);
  box-sizing: border-box;
}
.lin-h-lancme5 {
  position: relative;
  display: inline-block;
  min-width: 119px;
}
.lin-h-lancme-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.group-icon351 {
  height: 23.2px;
  width: 25.7px;
  position: relative;
}
.div77 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.frame-parent226,
.frame-wrapper127,
.group-parent73 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group-parent73 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-2xl-4) var(--padding-3xs-8);
  background-color: var(--color-indianred-200);
  flex: 1;
  border-radius: var(--br-xl);
  overflow: hidden;
  align-items: flex-end;
  box-sizing: border-box;
  gap: var(--gap-smi-9);
  min-width: 110px;
  white-space: nowrap;
}
.group-parent73:hover {
  background-color: var(--color-indianred-100);
}
.frame-parent226,
.frame-wrapper127 {
  max-width: 100%;
}
.frame-parent226 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-16xl);
}
.frame-wrapper127 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.component-9-parent3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
}
.component-9-parent3,
.frame-parent224,
.frame-wrapper125,
.frame-wrapper126 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper126 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.frame-parent224,
.frame-wrapper125 {
  flex-direction: column;
}
.frame-parent224 {
  align-self: stretch;
  gap: var(--gap-8xl);
}
.frame-wrapper125 {
  width: 336px;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.frame-parent223,
.trang-ng-ki-inner3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent223 {
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.trang-ng-ki-inner3 {
  width: 1342px;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.frame-child35 {
  align-self: stretch;
  height: 14.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.a-ch-tng5,
.chnh-sch-bo5,
.email-lorealvietnamlorealco5,
.in-thoi-028352088405,
.msdn-0102289856-cp5,
.ngi-i-din5 {
  margin: 0;
}
.chnh-sch-bo-container5 {
  height: 133px;
  position: relative;
  display: flex;
  align-items: center;
}
.chnh-sch-bo-mt-cng-ty-t-wrapper3 {
  width: 1040px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.trang-ng-ki,
.vector-parent10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.vector-parent10 {
  align-self: stretch;
  gap: var(--gap-base-3);
  max-width: 100%;
  text-align: left;
}
.trang-ng-ki {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 var(--padding-138xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .frame-parent209 {
    flex-wrap: wrap;
    gap: var(--gap-53xl);
    padding-left: var(--padding-39xl);
    padding-right: var(--padding-39xl);
    box-sizing: border-box;
  }
  .gi-mua-sm-parent {
    height: auto;
    min-height: 1054;
  }
  .group-parent67 {
    flex-wrap: wrap;
    padding-left: var(--padding-42xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .ng-k-wrapper {
    padding-left: 697px;
    box-sizing: border-box;
  }
  .frame-parent214 {
    flex-wrap: wrap;
    gap: var(--gap-214xl);
  }
  .frame-parent222,
  .input-filter1 {
    padding-left: var(--padding-236xl);
    box-sizing: border-box;
  }
  .frame-parent222 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
  }
}
@media screen and (max-width: 1125px) {
  .frame-wrapper122,
  .ng-k-wrapper {
    flex: 1;
  }
  .frame-parent221 {
    flex-wrap: wrap;
  }
  .frame-parent214 {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frame-parent222 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(181px, 313px));
  }
  .frame-parent223 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent206 {
    flex-wrap: wrap;
  }
  .frame-parent209 {
    gap: var(--gap-17xl);
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .frame-parent208 {
    gap: var(--gap-xl);
  }
  .group-parent67 {
    gap: var(--gap-22xl);
    padding: var(--padding-27xl) var(--padding-11xl) var(--padding-26xl);
    box-sizing: border-box;
  }
  .ng-k-wrapper {
    padding-left: 348px;
    box-sizing: border-box;
  }
  .component-4-wrapper {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .c-quyn-thnh-vin-m-welcome-parent {
    gap: var(--gap-5xl);
  }
  .frame-wrapper122 {
    min-width: 100%;
  }
  .frame-parent215 {
    gap: var(--gap-27xl);
  }
  .frame-parent214 {
    gap: var(--gap-98xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .decision-tree-root {
    gap: var(--gap-7xl);
  }
  .input-filter1 {
    gap: var(--gap-mini);
    padding-left: var(--padding-108xl);
    box-sizing: border-box;
  }
  .frame-parent222 {
    gap: var(--gap-11xl);
    padding: var(--padding-31xl) var(--padding-11xl) var(--padding-25xl);
    box-sizing: border-box;
    grid-template-columns: minmax(181px, 1fr);
  }
  .component-1141,
  .component-118-wrapper {
    flex: 1;
  }
  .component-114-parent {
    flex-wrap: wrap;
  }
  .frame-parent223 {
    gap: var(--gap-8xl);
  }
}
@media screen and (max-width: 450px) {
  .lancme5 {
    font-size: var(--font-size-lgi);
  }
  .gi-mua {
    font-size: var(--font-size-base);
  }
  .frame-parent209 {
    gap: var(--gap-lg);
  }
  .ng-k,
  .ng-k1 {
    font-size: var(--font-size-base);
  }
  .component-151,
  .component-152 {
    flex: 1;
  }
  .component-151-parent {
    flex-wrap: wrap;
  }
  .sn-phm-bn {
    font-size: var(--font-size-base);
  }
  .group-parent67 {
    gap: var(--gap-xl);
  }
  .ng-k2 {
    font-size: var(--font-size-base);
  }
  .component-4,
  .ng-k-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .component-4 {
    padding-right: var(--padding-xl);
  }
  .frame-parent215 {
    gap: var(--gap-4xl);
  }
  .frame-parent214 {
    gap: var(--gap-39xl);
  }
  .decision-tree-root {
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .khm-ph-cc {
    font-size: var(--font-size-base);
  }
  .input-filter1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent222 {
    gap: var(--gap-mini);
  }
  .dng-da-theo-danh-mc-sn-ph-group {
    flex-wrap: wrap;
  }
  .frame-parent226 {
    flex-wrap: wrap;
    gap: var(--gap-mid);
  }
}
