.freeship-ton-quc7,
.nhp-m-lmcar247 {
  margin: 0;
}
.nhp-m-lmcar24-container15 {
  width: 100%;
}
.nhp-m-lmcar24-container14 {
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.nhp-m-lmcar24-gim-12-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  flex-shrink: 0;
}
.frame-child46,
.frame-parent249 {
  overflow: hidden;
  box-sizing: border-box;
}
.frame-child46 {
  align-self: stretch;
  height: 150px;
  position: relative;
  border: 1px solid var(--color-black);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent249 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcoral);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0;
  gap: var(--gap-lg);
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.vector-icon37 {
  height: 24px;
  width: 24px;
  position: relative;
}
.danh-sch-ca7 {
  flex: 1;
  position: relative;
}
.vector-parent14 {
  width: 204px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
}
.frame-wrapper138 {
  width: 268px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.lancme7 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
}
.lancme-wrapper4 {
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.vector-icon38 {
  width: 24px;
  height: 24px;
  position: relative;
}
.vector-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.vector-icon39,
.vector-icon40 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.frame-parent252 {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-45xl);
}
.frame-parent251 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.paris-wrapper4,
.paris7 {
  display: flex;
  justify-content: center;
}
.paris7 {
  width: 39px;
  position: relative;
  align-items: center;
  min-width: 39px;
}
.paris-wrapper4 {
  width: 1133px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -1px;
  font-size: var(--font-size-lg);
}
.frame-parent250 {
  position: absolute;
  top: 121.8px;
  left: 88px;
  width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.best-seller12,
.dng-da35 {
  width: 95px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 95px;
}
.dng-da35 {
  width: 72px;
  min-width: 72px;
}
.nc-hoa35 {
  width: 70px;
  min-width: 70px;
}
.chng-trnh-thnh7,
.nc-hoa35,
.trang-im35 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trang-im35 {
  width: 83px;
  min-width: 83px;
}
.chng-trnh-thnh7 {
  width: 182px;
}
.best-seller-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 497px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.vector-icon41 {
  height: 17.5px;
  width: 12.9px;
  position: relative;
}
.tm-kim7 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 65px;
}
.vector-parent15 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi-1);
}
.frame-wrapper139 {
  height: 22px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs-5);
  box-sizing: border-box;
}
.frame-child47,
.frame-parent254 {
  position: absolute;
  box-sizing: border-box;
}
.frame-parent254 {
  top: 0;
  left: 194px;
  width: 1062px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-49xl) var(--padding-11xl);
  gap: var(--gap-52xl);
  max-width: 100%;
}
.frame-child47 {
  top: 80px;
  left: 0;
  border-top: 1px solid var(--color-gray-1800);
  width: 1441px;
  height: 1px;
}
.frame-parent253 {
  position: absolute;
  top: 218px;
  left: 0;
  width: 100%;
  height: 81px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.screenshot-2024-04-10-083823-12 {
  position: absolute;
  top: 298px;
  left: 0;
  width: 1440px;
  height: 487px;
  object-fit: cover;
  z-index: 1;
}
.trang-ng-nhp-child {
  position: absolute;
  top: 2051px;
  left: 170px;
  width: 241px;
  height: 279px;
  overflow: hidden;
  display: none;
}
.frame-child48 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.blank-line10,
.e-skin-expert2,
.tri-nghim-ngay2 {
  margin: 0;
}
.e-skin-expert-tri-container2 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.e-skin-expert-tri-nghim-ngay-frame {
  width: 218px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.tm-hiu-thm9 {
  width: 116px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 116px;
}
.component-52,
.frame-parent256,
.rectangle-parent20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-52 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-37xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.component-52:hover,
.component-64:hover,
.component-65:hover,
.component-72:hover {
  background-color: var(--color-dimgray-300);
}
.frame-parent256,
.rectangle-parent20 {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.rectangle-parent20 {
  height: 506px;
  align-items: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.frame-child49 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.blank-line11,
.nhn-t-vn2,
.t-vn-vi2 {
  margin: 0;
}
.t-vn-vi-container2 {
  position: relative;
  z-index: 1;
}
.rectangle-parent21,
.t-vn-vi-chuyn-gia-nhn-t-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.t-vn-vi-chuyn-gia-nhn-t-frame {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-7xs);
}
.rectangle-parent21 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mid);
}
.cht-ngay4 {
  width: 85px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.component-64,
.frame-parent257 {
  display: flex;
  justify-content: flex-start;
}
.component-64 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-53xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.frame-parent257 {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-34xl);
}
.frame-child50 {
  width: 232px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.blank-line12,
.gii-m-ln2,
.khm-ph-ngay2 {
  margin: 0;
}
.gii-m-ln-container2 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.gii-m-ln-da-khm-ph-ngay-m-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-mini) 0;
}
.tm-ca-hng2 {
  width: 111px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 111px;
}
.component-72,
.rectangle-parent22 {
  display: flex;
  justify-content: flex-start;
}
.component-72 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-40xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.rectangle-parent22 {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lg);
}
.frame-child51 {
  width: 232px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.blank-line13,
.chm-sc-khch2,
.tr-chuyn-trc2 {
  margin: 0;
}
.chm-sc-khch-container2 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.chm-sc-khch-hng-tr-chuyn-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) var(--padding-17xl) 0;
}
.cht-ngay5 {
  width: 85px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.component-65,
.rectangle-parent23 {
  display: flex;
  justify-content: flex-start;
}
.component-65 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-53xl) var(--padding-2xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}
.rectangle-parent23 {
  height: 506px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-mid);
}
.frame-parent255 {
  position: absolute;
  top: 2863px;
  left: 0;
  background-color: var(--color-floralwhite);
  width: 100%;
  overflow: hidden;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-58xl) var(--padding-102xl) var(--padding-48xl);
  box-sizing: border-box;
  gap: var(--gap-42xl);
  max-width: 100%;
  grid-template-columns: repeat(4, minmax(181px, 1fr));
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.tm-hiu-thm10 {
  position: absolute;
  top: 3958px;
  left: 379px;
  color: transparent;
}
.screenshot-2024-04-10-102134-17 {
  position: absolute;
  top: 3687px;
  left: 0;
  width: 1440px;
  height: 145px;
  object-fit: cover;
}
.frame-child52 {
  align-self: stretch;
  height: 14.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.a-ch-tng7,
.chnh-sch-bo7,
.email-lorealvietnamlorealco7,
.in-thoi-028352088407,
.msdn-0102289856-cp7,
.ngi-i-din7 {
  margin: 0;
}
.chnh-sch-bo-container7 {
  height: 133px;
  position: relative;
  display: flex;
  align-items: center;
}
.chnh-sch-bo-mt-cng-ty-t-wrapper5 {
  width: 1040px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.vector-parent16 {
  position: absolute;
  top: 4142px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-3);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.gi-mua-sm-container,
.gi-mua2 {
  display: flex;
  justify-content: center;
}
.gi-mua2 {
  width: 146px;
  position: relative;
  align-items: center;
}
.gi-mua-sm-container {
  width: 1392px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child53 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.st-qu-tng2 {
  width: 149px;
  position: relative;
  display: inline-block;
}
.rectangle-parent24 {
  height: 261px;
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xl);
}
.frame-child54 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dng-da36 {
  width: 82px;
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.dng-da-wrapper13,
.rectangle-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dng-da-wrapper13 {
  flex-direction: row;
  padding: 0 var(--padding-25xl);
}
.rectangle-parent25 {
  height: 261px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.frame-child55 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nc-hoa36 {
  width: 81px;
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.nc-hoa-wrapper12,
.rectangle-parent26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nc-hoa-wrapper12 {
  flex-direction: row;
  padding: 0 var(--padding-26xl) 0 var(--padding-25xl);
}
.rectangle-parent26 {
  height: 264px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.frame-child56 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.trang-im36 {
  width: 94px;
  position: relative;
  display: inline-block;
  min-width: 94px;
}
.rectangle-parent27,
.trang-im-wrapper12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.trang-im-wrapper12 {
  flex-direction: row;
  padding: 0 var(--padding-19xl);
}
.rectangle-parent27 {
  height: 267px;
  width: 170px;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.frame-parent258,
.frame-parent259 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame-parent259 {
  background-color: var(--color-lavenderblush);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-22xl) var(--padding-165xl) var(--padding-22xl) 137px;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.frame-parent258 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.sn-phm-bn-chy-frame,
.sn-phm-bn2 {
  display: flex;
  justify-content: center;
}
.sn-phm-bn2 {
  width: 194px;
  position: relative;
  align-items: center;
}
.sn-phm-bn-chy-frame {
  width: 1420px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child57,
.frame-child58 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child57 {
  align-self: stretch;
  max-height: 100%;
}
.frame-child58 {
  height: 300px;
}
.rectangle-parent28,
.rectangle-wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-wrapper8 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
}
.rectangle-parent28 {
  margin-left: -702px;
  height: 793px;
  width: 235px;
  flex-direction: column;
  gap: var(--gap-174xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.component-13-icon2,
.group-icon374 {
  position: absolute;
  margin: 0 !important;
}
.group-icon374 {
  height: 17.4px;
  width: 20px;
  bottom: 163.6px;
  left: 491px;
  z-index: 1;
}
.component-13-icon2 {
  height: 220px;
  width: 170px;
  top: 82px;
  left: 156px;
  object-fit: cover;
}
.component-47-icon3 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.kem-dng-da5 {
  width: 165px;
  position: relative;
  display: inline-block;
}
.group-icon375,
.group-icon376,
.group-icon377,
.group-icon378,
.group-icon379 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.group-parent80 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.div83 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl);
}
.frame-parent263 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base-6);
}
.frame-parent263,
.frame-wrapper142,
.kem-dng-da-absolue-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper142 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  font-size: var(--font-size-lg);
}
.kem-dng-da-absolue-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-27xl);
}
.frame-wrapper141 {
  width: 193px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.thm-vo-gi74 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-8-wrapper7,
.component-826 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-826 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mid) var(--padding-6xs)
    var(--padding-14xl);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.component-826:hover,
.component-827:hover,
.component-828:hover,
.component-829:hover {
  background-color: var(--color-dimgray-100);
}
.component-8-wrapper7 {
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
}
.component-47-container {
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.component-31-icon6 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.khe-sau-74,
.serum-phc-hi4 {
  margin: 0;
}
.serum-phc-hi-container4 {
  align-self: stretch;
  position: relative;
}
.group-icon380 {
  height: 17.4px;
  width: 20px;
  position: relative;
}
.component-31-icon7,
.group-icon381 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-31-icon7 {
  height: 916.67%;
  width: 708.33%;
  top: -1370.83%;
  right: -658.33%;
  bottom: 554.17%;
  left: 50%;
  object-fit: cover;
  z-index: 1;
}
.star-border-purple5002 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.star-border-purple500-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs-4);
}
.group-parent81 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.group-icon382,
.group-icon383,
.group-icon384 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-parent265,
.group-parent82,
.serum-phc-hi-da-tr-khe-sau-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-parent265,
.serum-phc-hi-da-tr-khe-sau-parent1 {
  align-items: flex-end;
  gap: var(--gap-9xl);
}
.serum-phc-hi-da-tr-khe-sau-parent1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-smi);
}
.div84 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper57 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-25xl) 0 var(--padding-28xl);
  font-size: var(--font-size-lg);
}
.frame-parent264,
.frame-wrapper143 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent264 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base-6);
}
.frame-wrapper143 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-14xl);
}
.thm-vo-gi75 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-31-group,
.component-8-wrapper8,
.component-827 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-827 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  white-space: nowrap;
}
.component-31-group,
.component-8-wrapper8 {
  padding: 0 0 0 var(--padding-6xs);
}
.component-31-group {
  height: 420px;
  width: 247px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.component-34-icon4 {
  height: 220px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.component-34-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) var(--padding-3xs) var(--padding-6xl);
}
.nc-hoa-hng5 {
  align-self: stretch;
  position: relative;
}
.group-icon385,
.group-icon386,
.group-icon387,
.group-icon388,
.group-icon389 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-wrapper145,
.group-parent83 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.group-parent83 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-wrapper145 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
}
.div85 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper58 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-19xl);
  font-size: var(--font-size-lg);
}
.nc-hoa-hng-cn-bng-m-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl-3);
}
.frame-wrapper144 {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.thm-vo-gi76 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-828,
.frame-parent266 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-828 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.frame-parent266 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-6xl);
}
.component-32-icon4 {
  width: 187px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.bng-phn-mt4 {
  width: 162px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bng-phn-mt-5-mu-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) var(--padding-4xs);
}
.group-icon390,
.group-icon391,
.group-icon392,
.group-icon393,
.group-icon394 {
  height: 17.4px;
  width: 20px;
  position: relative;
  min-height: 17px;
}
.frame-wrapper146,
.group-parent84 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent84 {
  gap: var(--gap-mid);
}
.frame-wrapper146 {
  padding: 0 var(--padding-2xs);
}
.div86 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.wrapper59 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-46xl);
}
.thm-vo-gi77 {
  width: 154px;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.component-829,
.frame-parent267 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-829 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-14xl) var(--padding-6xs);
  background-color: var(--color-darkslategray-200);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.frame-parent267 {
  flex-direction: column;
  gap: var(--gap-4xl-3);
  font-size: var(--font-size-lg);
}
.component-32-parent1,
.group-parent79 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.component-32-parent1 {
  height: 442px;
  width: 220px;
  flex-direction: column;
  gap: var(--gap-18xl);
}
.group-parent79 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-52xl) var(--padding-103xl) var(--padding-50xl);
  position: relative;
  gap: var(--gap-63xl);
}
.image-1-icon2 {
  width: 340px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.c-quyn-thnh2,
.lu-mt2,
.m-welcome-gim2 {
  margin: 0;
}
.c-quyn-thnh-container2,
.ng-k-thnh2 {
  position: relative;
  display: flex;
  align-items: center;
}
.c-quyn-thnh-container2 {
  align-self: stretch;
  height: 57px;
}
.ng-k-thnh2 {
  width: 183px;
  font-size: var(--font-size-lg);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: center;
  justify-content: center;
}
.component-4-frame,
.component-42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.component-42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-76xl);
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-11xl);
  overflow: hidden;
  justify-content: center;
  white-space: nowrap;
}
.component-42:hover {
  background-color: var(--color-darkslategray-100);
}
.component-4-frame {
  width: 518px;
  justify-content: flex-end;
  padding: 0 var(--padding-40xl);
}
.c-quyn-thnh-vin-m-welcome-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.frame-wrapper148 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
  min-width: 426px;
  max-width: 100%;
}
.frame-wrapper147,
.image-1-group {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.image-1-group {
  width: 1068px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-54xl);
}
.frame-wrapper147 {
  width: 1272px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-parent262 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-74xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper140 {
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.data-aggregator2,
.frame-parent260,
.frame-parent261,
.frame-wrapper140 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent261 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-448xl);
  font-size: var(--font-size-mini);
}
.data-aggregator2,
.frame-parent260 {
  flex-direction: column;
}
.frame-parent260 {
  align-self: stretch;
  gap: var(--gap-14xl);
}
.data-aggregator2 {
  position: absolute;
  top: 845px;
  left: 0;
  width: 100%;
  gap: 84px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.gi-chu2 {
  width: 369px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gi-chu-trnh-dng-da-t-la-frame {
  width: 1155px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.screenshot-2024-04-10-110752-12 {
  width: 1155px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent269 {
  margin-left: -519px;
  width: 1439px;
  background-color: var(--color-pink);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-27xl) var(--padding-xl) var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-33xl);
  max-width: 156%;
  flex-shrink: 0;
}
.frame-parent268,
.khm-ph-cc2 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.khm-ph-cc2 {
  width: 328px;
  position: relative;
  font-size: var(--font-size-xl);
  align-items: center;
  justify-content: center;
  padding-right: var(--padding-xl);
}
.frame-parent268 {
  position: absolute;
  top: 2419px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-491xl);
  gap: var(--gap-11xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.dng-da38 {
  color: inherit;
}
.dng-da37 {
  margin-bottom: 0;
}
.theo-danh-mc7 {
  color: inherit;
}
.theo-danh-mc-sn-phm7 {
  margin-bottom: 0;
}
.theo-nhu-cu15 {
  color: inherit;
}
.theo-nhu-cu14 {
  margin-bottom: 0;
}
.theo-loi-da15 {
  color: inherit;
}
.theo-loi-da14 {
  margin-bottom: 0;
}
.theo-dng-sn7 {
  color: inherit;
}
.dng-da-theo-danh-mc-sn-ph7 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.dng-da-theo-container7 {
  width: 229px;
  position: relative;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
.feather-border {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.nc-hoa38 {
  color: inherit;
}
.nc-hoa37 {
  margin-bottom: 0;
}
.la-vie-est8 {
  color: inherit;
}
.la-vie-est-belle7 {
  margin-bottom: 0;
}
.miracle15 {
  color: inherit;
}
.miracle14 {
  margin-bottom: 0;
}
.idle15 {
  color: inherit;
}
.idle14 {
  margin-bottom: 0;
}
.trsor7 {
  color: inherit;
}
.nc-hoa-la-vie-est-belle-mira7 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.nc-hoa-la-container7 {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  z-index: 1;
}
.nc-hoa-la-vie-est-belle-mira-wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.trang-im38 {
  color: inherit;
}
.trang-im37 {
  margin-bottom: 0;
}
.dnh-cho-mt29 {
  color: inherit;
}
.dnh-cho-mt28 {
  margin-bottom: 0;
}
.dnh-cho-mt31 {
  color: inherit;
}
.dnh-cho-mt30 {
  margin-bottom: 0;
}
.dnh-cho-mi7 {
  color: inherit;
}
.trang-im-dnh-cho-mt-dnh-c7 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-xl);
}
.trang-im-dnh-container7 {
  flex: 1;
  position: relative;
  text-decoration: underline;
  z-index: 2;
}
.frame-parent270 {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ng-k-thng7 {
  flex: 1;
  position: relative;
}
.error-handler2 {
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.email8 {
  width: 36px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-1900);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.email-wrapper4,
.output-processor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-wrapper4 {
  align-self: stretch;
  border: 1px solid var(--color-gray-2000);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-smi);
}
.output-processor {
  width: 320px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.gi7 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.component-98 {
  cursor: pointer;
  border: 1px solid var(--color-gray-2000);
  padding: var(--padding-sm) var(--padding-smi) var(--padding-smi);
  background-color: var(--color-gray-100);
  width: 62px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-98:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-darkslategray-400);
  box-sizing: border-box;
}
.lin-h-lancme7 {
  position: relative;
  display: inline-block;
  min-width: 119px;
}
.progress-indicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.group-icon395 {
  height: 23.2px;
  width: 25.7px;
  position: relative;
}
.chart-designer {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 84px;
}
.dropdown-menu,
.slider-controller {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.dropdown-menu {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-2xl-4) var(--padding-3xs-8);
  background-color: var(--color-indianred-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  gap: var(--gap-smi-9);
  white-space: nowrap;
}
.dropdown-menu:hover {
  background-color: var(--color-indianred-100);
}
.slider-controller {
  gap: var(--gap-16xl);
  max-width: 100%;
}
.icon-library {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.circle-gallery,
.component-9-parent5,
.icon-library {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-9-parent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-mini);
}
.circle-gallery {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.input-handler {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-8xl);
}
.effect-panel,
.input-handler,
.logic-branch1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logic-branch1 {
  width: 336px;
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
}
.effect-panel {
  position: absolute;
  top: 3889.5px;
  left: 127px;
  flex-direction: row;
  gap: var(--gap-35xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
.screenshot-2024-04-10-101514-17 {
  height: 39px;
  width: 43px;
  position: relative;
  object-fit: cover;
}
.bn-chy-nht7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 112px;
}
.bn-chy-nht-wrapper5 {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.component-1143 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  background-color: var(--color-white);
  flex: 0.9072;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 130px;
}
.screenshot-2024-04-10-101523-17 {
  height: 28px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.dng-da39 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 77px;
}
.component-1153,
.dng-da-wrapper14 {
  width: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.component-1153 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-base) var(--padding-lg);
  background-color: var(--color-white);
  width: 158px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-mid);
}
.screenshot-2024-04-10-101549-17 {
  height: 49px;
  width: 42px;
  position: relative;
  object-fit: cover;
}
.trang-im39 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 88px;
}
.hexagon-hexad {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.component-118-frame,
.component-1182 {
  display: flex;
  justify-content: flex-start;
}
.component-1182 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-8xs) var(--padding-sm) var(--padding-7xs);
  background-color: var(--color-white);
  align-self: stretch;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
}
.component-118-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 123px;
}
.screenshot-2024-04-10-101556-17 {
  height: 47px;
  width: 47px;
  position: relative;
  object-fit: cover;
}
.nc-hoa39 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 76px;
}
.nc-hoa-wrapper13 {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.component-114-container,
.component-1172 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.component-1172 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-7xs) var(--padding-5xs) var(--padding-6xs);
  background-color: var(--color-white);
  width: 164px;
  border-radius: var(--br-31xl);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.component-114-container {
  position: absolute;
  top: 3570px;
  left: 323px;
  width: 753px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-smi);
  max-width: 100%;
}
.rectangle-div {
  width: 444px;
  height: 661px;
  position: relative;
  background-color: var(--color-mistyrose-100);
  display: none;
  max-width: 100%;
}
.color-picker-icon {
  height: 14px;
  width: 14px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
.data-filter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.ng-nhp {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-tahoma);
  color: var(--color-crimson-100);
  text-align: left;
  display: inline-block;
  min-width: 109px;
  z-index: 3;
}
.link-builder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.3px;
}
.link-builder-wrapper {
  width: 305px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
}
.emailtn-ng-nhp {
  width: 133px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 17px;
  position: relative;
  color: var(--color-gray-1400);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.spacer {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-3xl) var(--padding-lgi-8);
  z-index: 3;
}
.mt-khu1 {
  width: 58px;
  border: 0;
  outline: 0;
  font-family: var(--font-tahoma);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 17px;
  position: relative;
  color: var(--color-gray-1500);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.spacer1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-1500);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-9xl) var(--padding-lgi-8);
  z-index: 3;
}
.ng-nhp1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: rgba(0, 0, 0, 0.64);
  text-align: left;
  display: inline-block;
  min-width: 82px;
}
.aligner,
.component-148 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-148 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1500);
  padding: var(--padding-2xl) var(--padding-119xl) var(--padding-lgi-8);
  background-color: rgba(60, 92, 254, 0.72);
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  z-index: 3;
}
.component-148:hover {
  background-color: rgba(99, 130, 255, 0.72);
  border: 1px solid rgba(51, 51, 51, 0.47);
  box-sizing: border-box;
}
.aligner {
  flex-direction: column;
  gap: 54.1px;
}
.vector-icon42 {
  height: 23.5px;
  width: 24px;
  position: relative;
}
.facebook1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 63px;
}
.collapsible-set,
.component-1511 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.component-1511 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1600);
  padding: var(--padding-mini-7) var(--padding-6xl) var(--padding-2xs-8);
  background-color: transparent;
  flex: 0.871;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-lgi);
  min-width: 104px;
  z-index: 3;
}
.vector-icon43 {
  height: 23.5px;
  width: 24px;
  position: relative;
}
.google1 {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-tahoma);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 46px;
}
.google-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.canvas-container,
.component-1521,
.stack-manager {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-1521 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1600);
  padding: var(--padding-sm-7) var(--padding-mid) var(--padding-xs-8);
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  gap: var(--gap-8xl);
  min-width: 104px;
  z-index: 3;
}
.canvas-container,
.stack-manager {
  max-width: 100%;
}
.canvas-container {
  flex: 1;
  gap: var(--gap-9xl);
}
.stack-manager {
  align-self: stretch;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.bn-cha-c,
.ng-k-ngay {
  position: relative;
  font-family: var(--font-tahoma);
  text-align: left;
  z-index: 3;
}
.bn-cha-c {
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.ng-k-ngay {
  font-size: var(--font-size-base);
  color: rgba(243, 41, 53, 0.77);
  display: inline-block;
  min-width: 111px;
  cursor: pointer;
}
.column-organizer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.grid-creator,
.group-form,
.label-set {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.grid-creator {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 53.1px;
}
.group-form,
.label-set {
  width: 375px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.group-form {
  margin: 0;
  position: absolute;
  top: 196px;
  left: 934px;
  background-color: var(--color-mistyrose-100);
  width: 444px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-3xl) 33.3px;
  gap: 82.2px;
  z-index: 2;
}
.trang-ch8 {
  position: absolute;
  top: 249px;
  left: 137px;
  display: inline-block;
  min-width: 87px;
  cursor: pointer;
  z-index: 1;
}
.trang-ng-nhp {
  width: 100%;
  height: 4463px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-tahoma);
}
@media screen and (max-width: 1350px) {
  .frame-parent255,
  .group-parent79 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .group-parent79 {
    flex-wrap: wrap;
    padding-left: var(--padding-42xl);
    padding-right: var(--padding-42xl);
  }
  .frame-parent261 {
    flex-wrap: wrap;
    gap: var(--gap-214xl);
    justify-content: center;
  }
  .frame-parent268 {
    padding-left: var(--padding-236xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frame-parent253 {
    height: auto;
    min-height: 81;
  }
  .frame-parent255 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(181px, 313px));
  }
  .frame-parent259 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .image-1-icon2 {
    flex: 1;
  }
  .image-1-group {
    flex-wrap: wrap;
    gap: var(--gap-17xl);
  }
  .effect-panel {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent251 {
    flex-wrap: wrap;
  }
  .best-seller-group {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent255 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    grid-template-columns: minmax(181px, 1fr);
  }
  .frame-parent259,
  .group-parent79 {
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-73xl);
    box-sizing: border-box;
  }
  .group-parent79 {
    gap: var(--gap-22xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
  }
  .component-4-frame {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .c-quyn-thnh-vin-m-welcome-container {
    gap: var(--gap-5xl);
  }
  .frame-wrapper148 {
    min-width: 100%;
  }
  .image-1-group {
    gap: var(--gap-lg);
  }
  .frame-parent262 {
    gap: var(--gap-27xl);
  }
  .frame-parent261 {
    gap: var(--gap-98xl);
  }
  .frame-parent260 {
    gap: var(--gap-base);
  }
  .data-aggregator2 {
    gap: var(--gap-23xl);
  }
  .frame-parent269 {
    gap: var(--gap-7xl);
  }
  .frame-parent268 {
    gap: var(--gap-mini);
    padding-left: var(--padding-108xl);
    box-sizing: border-box;
  }
  .component-1143,
  .component-118-frame {
    flex: 1;
  }
  .component-114-container {
    flex-wrap: wrap;
  }
  .trang-ng-nhp {
    height: auto;
    min-height: 4463;
  }
}
@media screen and (max-width: 450px) {
  .lancme7 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent255 {
    gap: var(--gap-mini);
  }
  .gi-mua2 {
    font-size: var(--font-size-base);
  }
  .frame-parent259 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sn-phm-bn2 {
    font-size: var(--font-size-base);
  }
  .group-parent79 {
    gap: var(--gap-xl);
  }
  .component-42 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent262 {
    gap: var(--gap-4xl);
  }
  .frame-parent261 {
    gap: var(--gap-39xl);
  }
  .data-aggregator2 {
    gap: var(--gap-2xl);
  }
  .khm-ph-cc2 {
    font-size: var(--font-size-base);
  }
  .frame-parent268 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .ng-nhp {
    font-size: var(--font-size-base);
  }
  .component-1511,
  .component-1521 {
    flex: 1;
  }
  .canvas-container {
    flex-wrap: wrap;
  }
}
